<%- include('partials/header'); %>
<h1 class="title"><%= today %></h1>
<h3><%= homeStartContent %></h3>
<%  newPostEjs.forEach(function(posts) { %>
  <h2> <%= posts.title %> </h2> 
  <p class="paragraph"> 
    <%= posts.content.substring(0,100) + " ..."%>
    <a href="/posts/<%= posts.title %>">Read more</a>
     </p>
  
<% }) %>  
<%- include('partials/footer'); %>