<%- include('partials/header'); %>
<h1 class="title"><%= today %></h1>
<h3><%= homeStartContent %></h3>
<p class="title">Thank you for visiting my application! You might have noticed that there's currently no option to write an entry. The primary reason for this is that any entries written would be visible to all visitors of the site. Furthermore, if multiple users were to write entries, they would all appear on the same page. This limitation arises from the absence of a database that could segregate data based on individual user accounts. I'm in the process of learning more about databases and plan to incorporate this feature into the application in the near future. </p> 
<%  newPostEjs.forEach(function(posts) { %>
  <h2> <%= posts.title %> </h2> 
  <p class="paragraph"> 
    <%= posts.content.substring(0,100) + " ..."%>
    <a href="/posts/<%= posts.title %>">Read more</a>
     </p>
  
<% }) %>  
<%- include('partials/footer'); %>
